{% block content %}
<h1>Candidatos</h1>
    {% if candidatos %}
        {% for candidato in candidatos %}
            <div class="card mb-3">
                <div class="card-header">
                    {{ candidato.name }}
                </div>
                <div class="card-body">
                    <p class="card-text">Nombre: {{ candidato.name }}</p>
                    <p class="card-text">Correo: {{ candidato.email }}</p>
                    <p class="card-text">profesión: {{ candidato.profession }}</p>
                    <!-- cv_file-->
                    <!-- Puedes agregar más detalles según la estructura de tu base de datos -->
                    
                    name TEXT NOT NULL,
                    email TEXT NOT NULL,
                    profession TEXT NOT NULL,
                    cv_file TEXT NOT NULL
                    <a href="#" class="btn btn-primary">Ver Detalles</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
                <p>No hay candidatos registrados.</p>
    {% endif %}
{% endblock %}
