<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Incluye el header desde base.html -->
    {% include 'base.html' %}
    
    <div class="container mt-4">
        <h2>Bienvenido a AppJobs</h2>
        <button type="button" class="btn btn-primary" onclick="showLoginModal()">Iniciar Sesión</button>
        <button type="button" class="btn btn-secondary" onclick="showRegisterModal()">Registrarse</button>
    </div>

    <!-- Incluye los modales -->
    {% include 'login.html' %}
    {% include 'registro_modal.html' %}
    {% include 'mensaje.html' %}
   
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
