<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppJobs - Persona</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Bienvenido Usuario</h1>
        <button class="btn btn-primary" onclick="showCreateHVModal()">Crear Hoja de Vida</button>
        <button class="btn btn-secondary" onclick="buscarVacantes()">Buscar Vacantes</button>
        <button class="btn btn-secondary" onclick="sugerirVacante()">Sugerir Vacante</button>
        <button class="btn btn-danger" onclick="logout()">Cerrar Sesión</button>
    </div>

    <!-- Incluyendo componentes PopUp -->
    {% include 'components/popups.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
