<!-- Modal de Registro -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Registro de Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="registroForm" onsubmit="return validatePasswords()">
                    <div class="form-group">
                        <label for="nameRegister">Nombre</label>
                        <input type="text" class="form-control" id="nameRegister" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="emailRegister">Correo Electrónico</label>
                        <input type="email" class="form-control" id="emailRegister" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="passwordRegister">Contraseña</label>
                        <input type="password" class="form-control" id="passwordRegister" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmPasswordRegister">Confirmar Contraseña</label>
                        <input type="password" class="form-control" id="confirmPasswordRegister" name="confirm_password" required>
                    </div>
                    <div class="form-group">
                        <label for="user_type_register">Tipo de Usuario</label>
                        <select class="form-control" id="user_type_register" name="user_type" required onchange="toggleRepresentanteLegalRegister()">
                            <option value="persona">Persona</option>
                            <option value="empresa">Empresa</option>
                        </select>
                    </div>
                    <div class="form-group" id="representanteLegalGroupRegister" style="display: none;">
                        <label for="representante_legal_register">Representante Legal</label>
                        <input type="text" class="form-control" id="representante_legal_register" name="representante_legal">
                    </div>
                    <div class="form-group">
                        <label for="direccion_register">Dirección</label>
                        <input type="text" class="form-control" id="direccion_register" name="direccion" required>
                    </div>
                    <div class="form-group">
                        <label for="telefono_register">Teléfono</label>
                        <input type="text" class="form-control" id="telefono_register" name="telefono" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</div>
