<!-- vacantes_activas.html -->
{% block content %}
<h1>Vacantes Activas</h1>
<!-- Lista de vacantes activas -->
{% if vacantes %}

    {% for vacante in vacantes %}
        <div class="card">
            <div class="card-header">
                {{ vacante.title }}
            </div>
            <div class="card-body">
                <p class="card-text">{{ vacante.description }}</p>
                <p class="card-text">Salario: {{ vacante.salary }}</p>
                <p class="card-text">Fecha de inicio: {{ vacante.start_date }}</p>
                <p class="card-text">Fecha de fin: {{ vacante.end_date }}</p>
                <a href="#" class="btn btn-primary">Reactivar</a>
            </div>
        </div>
        <br>
    {% endfor %}
{% else %}
    <p>No hay vacantes activas en este momento.</p>
{% endif %}
{% endblock %}
